<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
  <ion-header-bar>
    <ion-nav-bar>
      <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
      </ion-nav-buttons>
      <ion-nav-title>
        <span>{{leagueName}}</span>
      </ion-nav-title>
    </ion-nav-bar>
  </ion-header-bar>
  <ion-content>

  </ion-content>
</ion-view>
